.header-query{
	margin-top:-3px;
	background-color:#49A0DD ;
	width:100%;
	padding:5px 10px;
}
.form_query{
	font-family: "微软雅黑";
	font-size:14px;
	color:#FFFFFF;
}
.select_query{
	width:178px;
	font-size:18px;
}
.time_query{
	width:178px;
	font-size:16px;
}
.sex_query span{
	padding-right:40px;
}
a.add,a.query,a.export{
	 background:#548fc9; 
	 padding-top:3px;
	 padding-bottom:4px;
	 padding-left: 10px;
	 padding-right:10px;
	 height:35px; 
	 line-height:35px; 
	 color:#FFF; 
	 font-family:"Microsoft YaHei","Tahoma","Arial",'宋体'; 
	 font-size: 14px;
	 font-weight: 1000;
	 text-decoration: none;
	 margin:10px 10px;
}
#search a:hover.add{ 
	text-decoration:none; 
	color:#d2e9ff;
}
#searchmain{ 
	font-size:12px;
	margin-top:0px;
	font-family: "微软雅黑";
}
#search{
	 font-size:12px; 
	 background:#49A0DD; 
	 margin:-5px 0px 0 0; 
	 display:inline; 
	 width:100%; 
	 color:#FFF; 
	 float:left;
}
#search form span
{
	height:40px; 
	line-height:40px; 
	padding:0 0px 0 10px; 
	float:left;
	font-family: "微软雅黑";
	font-size:13px;
}
#search form input.text-word{
	height:24px; 
	line-height:24px;
	width:180px; 
	margin:8px 0 6px 0; 
	padding:0 0px 0 10px;
    float:left; 
    border:1px solid #FFF;
 }
#search form input.text-but{
	height:24px; 
	line-height:24px; width:55px;
    border:none; 
    cursor:pointer; 
    font-family:"Microsoft YaHei","Tahoma","Arial",'宋体'; 
    color:#666; 
    float:left; 
    margin:8px 0 0 6px; 
    display:inline;
}
#search a.add{
	 background:#548fc9; 
	 margin-bottom:10px;
	 padding:0 ;
	 height:26px; 
	 line-height:26px; 
	 padding:0px 10px;
	 color:#FFF; 
	 float:right;
	 font-family:"Microsoft YaHei","Tahoma","Arial",'宋体'; 
	 font-size: 14px;
	 font-weight: 1000;
	 text-decoration: none;
	 
}
.table-striped th, .table-striped td { 
text-align: center;
vertical-align: middle!important;
}
#search a:hover.add{ 
	text-decoration:none; 
	color:#d2e9ff;
}
.table-striped th{
	background:url(../img/list_bg.jpg) repeat-x;
	height:40px;
}


