<nav class="content-header">
	 <B>位置：</B>密码修改
</nav>
<div align="center">
	<form action="/manager/modifyPasswordHandler" method="post">
		<table class="table table-bordered table-hover" style="width:600px; margin-top: 100px;">
			<tr>
				<td style="background-color: #ECF7F9;">旧密码:</td>
				<td><input type="password" name="old_password" required/></td>
			</tr>
			<tr>
				<td style="background-color: #ECF7F9;">新密码:</td>
				<td><input type="password" id="password_sign" name="password"  required minlength="6" maxlength="16" style="align:left;"/> &nbsp;6~16字符，区分大小写</td>
			</tr>
			<tr>
				<td style="background-color: #ECF7F9;">确认新密码:</td>
				<td><input type="password" id="confirm_password_sign"  minlength="6" maxlength="16" required/> &nbsp;长度为6~16字符，区分大小写</td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<input type="submit" class="btn btn-primary" value="确认修改" onClick="check()" />
					<a href="/"  class="btn btn-primary"style="margin-left:100px;">取消</button>
				</td>
			</tr>
		</table>
	</form>
</div>
<script>
function check(){
	var psw1=document.getElementById("password_sign");
	var psw2=document.getElementById("confirm_password_sign");
	if(psw1.value!=psw2.value){
		psw2.setCustomValidity("密码和确认密码不一致！");
	}else{
		psw2.setCustomValidity("");
	}
}
</script>

