<style>
.chart-main{
     overflow-x: hidden;
	 margin-top:3%;
}   
.error-wrapper .back-btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top:20px;
    background-color: #80BDF9;
}
</style>
<div class="item">   
	<nav class="content-header">
		 <B>位置：</B>Success
	</nav>
</div>
<div class="chart-main">
    <section class="error-wrapper" style="text-align:center;">
        <h1><img alt="" src="/img/success.png" width="250px" height="250px"></h1>
		<h3>信息提交成功</h3>
        <a class="back-btn " href="#">返&nbsp;回</a>
    </section>
</div>
    
