<style>
.chart-main{text-align:center;margin:50px auto;}
.chart-main h5{margin-bottom:15px;}
.chart-main table{border-bottom:#cfe1f9 solid 4px;border-right:#cfe1f9 solid 1px;margin:5px auto;}
.chart-main td{border-top:#cfe1f9 solid 1px; border-left:#cfe1f9 solid 1px; padding:6px 5px; }
</style>
<div class="item">
<nav class="content-header">
	 <B>位置：</B>学生信息中心&nbsp;>&nbsp;学生详细信息
</nav>
</div>
<div class="chart-main">
<h5>学生学籍信息基本表</h5>
    <table class="table-hover table-striped" width="60%" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td align="right" width="100">姓名：</td>
            <td>李松</td>
            <td align="right" width="130">身份证号码：</td>
            <td>1234567890123456</td>
            <td rowspan="7"><div align="center"><img id="pic_face"  height="160" width="120" src="/img/photo.jpg" style="padding:2px 2px 5px; border:1px #ddd solid;"></div>&nbsp;</td>
        </tr>
        <tr>
            <td align="right">性别：</td>
            <td>男</td>
            <td align="right">学号：</td>
            <td>201408770</td>
        </tr>
		 <tr>
            <td align="right">在籍状态:</td>
            <td>在籍</td>
            <td align="right">学籍状态详情：</td>
            <td>外出交流</td>
        </tr>
        <tr>
            <td align="right">出生日期：</td>
            <td>2000-04-02</td>
            <td align="right">民族：</td>
            <td>汉族</td>
        </tr>
		<tr>
            <td align="right" width="100">专业：</td>
            <td>软件工程</td>
            <td align="right" width="130">班级：</td>
            <td>软件144</td>
        </tr>
        <tr>
            <td align="right">专业方向：</td>
            <td>移动互联网</td>
            <td align="right">辅修专业：</td>
            <td>英语</td>
        </tr>
        <tr>
            <td align="right">第二专业：</td>
            <td>日语</td>
            <td align="right">学业导师：</td>
            <td>李章程</td>
        </tr>
		<tr align="center">
            <td colspan="2" height="40">
                <div align="center">   
                    <button class="btn btn-info"><a href="studentInfo-edit.html"  style="color:white;">编辑信息</a></button>
                </div>
            </td>
            <td colspan="2" height="40">
                <div align="center">   
                    <button class="btn btn-info"><a href="#"  style="color:white;">删除信息</a></button>
                </div>
            </td>
			<td height="40">
                <div align="center">   
                    <button class="btn btn-info"><a href="#"  style="color:white;">确认毕业</a></button>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
document.body.onload = function(){
	document.getElementById('student').click();
};
</script>