<style>
.table th, .table td{
	text-align: center;
}
.table-striped th{
	background:url(../img/list_bg.jpg) repeat-x;
	height:40px;
}
</style>
<div class="item">   
	<nav class="content-header">
		 <B>位置：</B>学生信息中心&nbsp;>&nbsp;学生:黄磊&nbsp;>&nbsp;成绩管理
	</nav>
	<div class="header-query">
		<div class="row" style="margin:0px;">
			<div class="col-md-12">
				<form action="" role="form">
					<div class="row">
						<div class="col-sm-3">
							<label class="form_query">学期分类：</label>
							<select name="term-type" class="select_query">
							    <option value="1">2014-2015年度第一学期</option>
								<option value="2">2014-2015年度第二学期</option>
							</select>
						</div>
						<div class="col-sm-3">
						    <label class="form_query">课程类型：</label>
							<select name="course-type" class="select_query">
							    <option value="1">必修</option>
								<option value="2">选修</option>
								<option value="3">辅修</option>
							</select>
						</div>
						<div class="col-sm-3">
						</div>
						<div class="col-sm-3">
							<a href="#" class="query">
								<i class="fa fa-search"></i>&nbsp;查询
							</a>
							<a href="#" class="export">
								<i class="fa  fa-share-square-o"></i>&nbsp;导出
							</a>
							<a href="/student/grade" class="add">
								<i class="fa fa-plus">&nbsp;添加成绩</i>
							</a>  
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
    <div class="row chart-main" style="overflow :auto;margin-bottom:45px;">
		<table class="table table-striped table-hover" border="0" cellspacing="0" cellpadding="0">
			<tr>
			    <th align="center">学期</th>
				<th align="center">课程号</th>
				<th align="center">课序号</th>
				<th align="center">课程名</th>
				<th align="center">学分</th>
				<th align="center">课程属性</th>
				<th align="center">任课教师</th>
				<th align="center">成绩</th>
		    </tr>
			<tr align="center">
			    <td>2014-2015年度第一学期</td>
				<td>BK081393</td>
				<td>0</td>
				<td>英语进阶听力</td>
				<td>2.5</td>
				<td>必修</td>
				<td>陈华</td>
				<td>88</td>
			</tr>
			<tr align="center">
			    <td>2014-2015年度第二学期</td>
				<td>BK081393</td>
				<td>0</td>
				<td>英语进阶听力</td>
				<td>2.5</td>
				<td>必修</td>
				<td>陈华</td>
				<td>88</td>
			 </tr>
			 <tr align="center">
			    <td>2014-2015年度第二学期</td>
				<td>BK081393</td>
				<td>0</td>
				<td>英语进阶听力</td>
				<td>2.5</td>
				<td>必修</td>
				<td>陈华</td>
				<td>88</td>
			</tr>
			<tr align="center">
				<td>2014-2015年度第二学期</td>
				<td>BK081393</td>
				<td>0</td>
				<td>英语进阶听力</td>
				<td>2.5</td>
				<td>必修</td>
				<td>陈华</td>
				<td>88</td>
			</tr>
	   </table>
</div>
<script>
document.body.onload = function(){
	document.getElementById('student').click();
};
</script>