<link rel="stylesheet" type="text/css" href="/css/radio_style.css" />
<nav class="content-header">
	<B>位置：</B>课程信息中心&nbsp;>&nbsp;添加课程
</nav>
<form action="/classinfo/addhandler" method="post"><div align="center">
	<table class="table table-bordered table-hover" style="width:600px; height:300px; margin-top: 50px;" align="center" >
		<tr>
			<td style="background-color: #ECF7F9;" align="center" >学院:</td>
			<td>
				<select id="college" name="collegeid">
<?php foreach($colleges as $college): ?>
					<option value="<?=$college->id?>"><?=$college->name?></option>
<?php endforeach; ?>
				</select>
			</td>
		</tr>
		<tr>
			<td style="background-color: #ECF7F9;" align="center" >专业:</td>
			<td>
				<select id="major" name="majorid">
<?php foreach($majors as $major): ?>
					<option value="<?=$major->no?>"><?= $major->name ?></option>
<?php endforeach; ?>
                </select>
			</td>
		</tr>
		<tr>
			<td style="background-color: #ECF7F9;" align="center" >班级名称:</td>
			<td><input type="text"  name="class_name" required/></td>
		</tr>
		<tr>
			<td style="background-color: #ECF7F9;" align="center" >入学年份:</td>
			<td><input type="number" id="year" name="entry" min="1980" max="2100" step="1" required/></td>
		</tr>
		<tr>
			<td style="background-color: #ECF7F9;" align="center" >标准学制:</td>
			<td><input type="number" name="standard_schooling" min="1" max="10" step="1" value="4" required/></td>
		</tr>
		<tr>
			<td style="background-color: #ECF7F9;" align="center" >班主任:</td>
			<td><input type="text" name="headmaster" required/></td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<input type="submit" class="btn btn-primary" value="确认添加" />
				<a href="/classinfo/query"  class="btn btn-primary"style="margin-left:100px;">取消</button>
			</td>
		</tr>
	</table>
</div></form>
<script>
$(function(){
	$("#college").change(function(){
		var id = $("#college").val();
		$.ajax({
			type: "post",
			url: "/major/loadMajorsByCollege",
			data: "collegeid="+id,
			success: function(data){
				data = JSON.parse(data);
				console.log(data);
				$("#major").html("");
				for(var i = 0; i < data.length; i++){
					var op = new Option();
					op.value = data[i].no;
					op.innerHTML = data[i].name;
					$("#major").append(op);
				}
			}
		});
	});
})
document.body.onload = function(){
	var date = new Date();
	document.getElementById("year").value = date.getFullYear();
	document.getElementById('class').click();
};
</script>