<link rel="stylesheet" type="text/css" href="/css/radio_style.css" />
<nav class="content-header">
	<B>位置：</B>课程信息中心>添加课程
</nav>
<table class="table table-bordered table-hover" style="width:80%; margin-top: 50px;;" align="center" >
<form action="/course/editHandler" method="post">
	<tr>
		<td style="background-color: #ECF7F9;" align="center" required>开课学院:</td>
		<td>
			<select name="collegeid">
<?php foreach($colleges as $college): ?>
				<option value="<?=$college->id?>" 
					<?php 
						if($college->id==$course->college_id)
							echo "selected";
					?>
				>
					<?=$college->name?>
				</option>
<?php endforeach; ?>
			</select>
		</td>
	</tr>
	<tr>
		<td style="background-color: #ECF7F9;" align="center" >课程号:</td>
		<td><input type="text" name="no" value="<?=$course->no?>" readonly style="color:gray" required/></td>
	</tr>
		<tr>
		<td style="background-color: #ECF7F9;" align="center" >课程名:</td>
		<td><input type="text"  name="name" value="<?=$course->course_name?>" required/></td>
	</tr>
	<tr>
		<td style="background-color: #ECF7F9;" align="center" >英文课程名:</td>
		<td><input type="text"  name="english_name" value="<?=$course->english_name?>"  required/></td>
	</tr>
	<tr>
		<td style="background-color: #ECF7F9;" align="center" >学分:</td>
		<td><input type="number" name="credit" value="<?=$course->credit?>" min="0" step="0.1" required/></td>
	</tr>
	<tr>
		<td style="background-color: #ECF7F9;" align="center" required>课程属性:</td>
		<td>
			<div class="input-group" >
				<div class="radio radio-warning radio-inline">
					<input type="radio" id="inlineRadio1" value="0" name="type" <?=$course->type==0?"checked":""?>>
					<label for="inlineRadio1">必修</label>
				</div>
				<div class="radio radio-primary radio-inline">
					<input type="radio" id="inlineRadio2" value="1" name="type" <?=$course->type==1?"checked":""?>>
					<label for="inlineRadio2">选修</label>
				</div>
				<div class="radio radio-danger radio-inline">
				   <input type="radio" id="inlineRadio3" value="2" name="type" <?=$course->type==2?"checked":""?>>
				   <label for="inlineRadio3">任选</label>
			   </div>
			</div>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<input type="submit" class="btn btn-primary" value="确认修改"/>
			<a href="/course/query" class="btn btn-primary" style="margin-left: 100px;">
				返回
			</a>
		</td>
	</tr>
</form>
</table>
<script>
document.body.onload = function(){
	document.getElementById('course').click();
};
</script>